* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.odd {
  background: #ffc0cb;
  font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#num2 {
  color: #0000ff;
  font-size: 36px;
}

.num3 {
  font-size: 24px;
}

#num4 {
  background: #90ee90;
  font-size: 24px;
  font-weight: bold;
}
